#Short Term Momentum Reversal Strategy

1. Buy worst performing stocks in previous month and hold for 1-Month
2.  Short Sell best performers
3. Prices may have over-corrected

#Setup

1. Universe = Nifty50
2. Long Only Strategy: Buy previous month's losers and hold for 1M
3. Losers = stocks in lowest decile of prior month returns
4. Backtest and compare performance over past 12 years and compare to Nift50 benchmark

In [1]:
!pip install yfinance --quiet

     |████████████████████████████████| 6.4 MB 8.0 MB/s
     |████████████████████████████████| 62 kB 1.0 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [2]:
import yfinance as yf
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [3]:
tickers = pd.read_csv('/content/nifty_50_symbols.csv')
tickers

           Symbol
0   ADANIPORTS.NS
1   ASIANPAINT.NS
2     AXISBANK.BO
3   BAJAJ-AUTO.NS
4   BAJFINANCE.NS
5   BAJAJFINSV.NS
6         BPCL.BO
7   BHARTIARTL.NS
8    BRITANNIA.BO
9        CIPLA.NS
10   COALINDIA.NS
11    DIVISLAB.BO
12            RDY
13   EICHERMOT.BO
14      GRASIM.BO
15     HCLTECH.BO
16    HDFCBANK.BO
17    HDFCLIFE.BO
18  HEROMOTOCO.NS
19    HINDALCO.BO
20  HINDUNILVR.BO
21        HDFC.NS
22   ICICIBANK.BO
23         IOC.BO
24  INDUSINDBK.NS
25        INFY.NS
26         ITC.NS
27    JSWSTEEL.NS
28   KOTAKBANK.BO
29          LT.BO
30         M&M.BO
31      MARUTI.BO
32   NESTLEIND.BO
33        NTPC.NS
34        ONGC.NS
35   POWERGRID.NS
36    RELIANCE.NS
37     SBILIFE.BO
38    SHREECEM.NS
39        SBIN.NS
40   SUNPHARMA.NS
41         TCS.BO
42  TATACONSUM.NS
43  TATAMOTORS.NS
44   TATASTEEL.NS
45       TECHM.BO
46       TITAN.NS
47  ULTRACEMCO.BO
48         UPL.NS
49       WIPRO.NS

In [4]:
tickers = tickers['Symbol'].tolist()
tickers

['ADANIPORTS.NS',
 'ASIANPAINT.NS',
 'AXISBANK.BO',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BPCL.BO',
 'BHARTIARTL.NS',
 'BRITANNIA.BO',
 'CIPLA.NS',
 'COALINDIA.NS',
 'DIVISLAB.BO',
 'RDY',
 'EICHERMOT.BO',
 'GRASIM.BO',
 'HCLTECH.BO',
 'HDFCBANK.BO',
 'HDFCLIFE.BO',
 'HEROMOTOCO.NS',
 'HINDALCO.BO',
 'HINDUNILVR.BO',
 'HDFC.NS',
 'ICICIBANK.BO',
 'IOC.BO',
 'INDUSINDBK.NS',
 'INFY.NS',
 'ITC.NS',
 'JSWSTEEL.NS',
 'KOTAKBANK.BO',
 'LT.BO',
 'M&M.BO',
 'MARUTI.BO',
 'NESTLEIND.BO',
 'NTPC.NS',
 'ONGC.NS',
 'POWERGRID.NS',
 'RELIANCE.NS',
 'SBILIFE.BO',
 'SHREECEM.NS',
 'SBIN.NS',
 'SUNPHARMA.NS',
 'TCS.BO',
 'TATACONSUM.NS',
 'TATAMOTORS.NS',
 'TATASTEEL.NS',
 'TECHM.BO',
 'TITAN.NS',
 'ULTRACEMCO.BO',
 'UPL.NS',
 'WIPRO.NS']

In [5]:
df = yf.download(tickers, start='2009-01-01')

[*********************100%***********************]  50 of 50 completed

In [6]:
df

               Adj Close                                          \
           ADANIPORTS.NS ASIANPAINT.NS AXISBANK.BO BAJAJ-AUTO.NS
Date
2009-01-02     61.107018     80.025406   97.577797    144.637573
2009-01-05     72.018677     81.160370  100.572014    153.107819
2009-01-06     72.904129     81.426384  102.001717    151.212006
2009-01-07     64.944084     79.112083   93.900200    141.663422
2009-01-08           NaN           NaN         NaN           NaN
...                  ...           ...         ...           ...
2022-07-25    749.950012   3104.949951  728.200012   4021.149902
2022-07-26    749.099976   3108.500000  706.349976   3925.600098
2022-07-27    760.650024   3186.050049  718.950012   3883.850098
2022-07-28    764.500000   3272.399902  725.250000   3858.250000
2022-07-29    763.700012   3333.750000  724.799988   3914.449951

                                                                               \
           BAJAJFINSV.NS BAJFINANCE.NS BHARTIARTL.NS     BPCL.BO BRITANNIA.BO
Date
2009-01-02    152.458466      5.747297    304.705414   34.138603   110.598419
2009-01-05    160.081421      5.924273    296.384338   33.654991   111.095108
2009-01-06    168.090317      6.065854    283.999786   35.016598   110.929527
2009-01-07    170.068451      5.601290    280.973938   34.429691   106.972527
2009-01-08           NaN           NaN           NaN         NaN          NaN
...                  ...           ...           ...         ...          ...
2022-07-25  12619.549805   6227.000000    678.400024  317.299988  3885.300049
2022-07-26  13313.000000   6264.450195    684.099976  318.549988  3806.800049
2022-07-27  13307.049805   6396.350098    674.900024  324.600006  3850.050049
2022-07-28  14642.049805   7076.600098    666.849976  326.000000  3872.949951
2022-07-29  15047.599609   7209.100098    677.950012  330.399994  3900.850098

                        ...       Volume                              \
              CIPLA.NS  ... SUNPHARMA.NS TATACONSUM.NS TATAMOTORS.NS
Date                    ...
2009-01-02  179.230270  ...    6949430.0      969510.0    18566132.0
2009-01-05  178.622208  ...    2735660.0      400100.0    13382037.0
2009-01-06  180.493103  ...    3522170.0      395230.0    18622646.0
2009-01-07  173.898270  ...    2639340.0      462960.0     8271220.0
2009-01-08         NaN  ...          NaN           NaN           NaN
...                ...  ...          ...           ...           ...
2022-07-25  959.799988  ...    2419358.0      940240.0    12505062.0
2022-07-26  955.700012  ...    1560211.0     1146412.0    11563528.0
2022-07-27  974.049988  ...    2797789.0     1056918.0    10081023.0
2022-07-28  967.450012  ...    3183169.0     1192580.0    36380444.0
2022-07-29  977.400024  ...   11314284.0      867325.0    15999219.0

                                                                        \
           TATASTEEL.NS     TCS.BO   TECHM.BO   TITAN.NS ULTRACEMCO.BO
Date
2009-01-02   55795156.0  1236000.0   324048.0  1783760.0        5935.0
2009-01-05   79015833.0  1104592.0   354152.0  1246880.0       24753.0
2009-01-06   78569351.0  1015252.0  2004496.0  2504000.0      219829.0
2009-01-07  105218373.0  2585796.0   784496.0  1816900.0       18148.0
2009-01-08          NaN        NaN        NaN        NaN           NaN
...                 ...        ...        ...        ...           ...
2022-07-25   99635630.0    61457.0   188556.0  1248393.0       15904.0
2022-07-26  126264690.0    96329.0   257113.0  1142159.0        9830.0
2022-07-27   52559020.0    44030.0    97271.0  1456382.0        6564.0
2022-07-28  137156107.0    80279.0    88652.0  1126799.0       13404.0
2022-07-29  166911224.0    55026.0   176546.0  1239262.0       17273.0


               UPL.NS   WIPRO.NS
Date
2009-01-02   754957.0  5783861.0
2009-01-05   298009.0  5825475.0
2009-01-06   664321.0  5700128.0
2009-01-07   254377.0  9509137.0
2009-01-08        NaN        NaN
...               ...        ...
2022-07-25  2179454.0  6267831.0
2022-07-26  1501349.0  7593149.0
2022-07-27  1463655.0  7042079.0
2022-07-28  1335287.0  7949232.0
2022-07-29  1517977.0  7957676.0

[3515 rows x 300 columns]

In [7]:
# Filter dataframe for Adjusted Close Price
prices = df['Adj Close']
prices.head()

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.BO,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.BO,BRITANNIA.BO,CIPLA.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.BO,TECHM.BO,TITAN.NS,ULTRACEMCO.BO,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-02,61.107018,80.025406,97.577797,144.637573,152.458466,5.747297,304.705414,34.138603,110.598419,179.230270,...,96.011902,51.284946,32.157673,7.107706,96.141403,55.423092,43.747471,368.860748,65.570412,47.630348
2009-01-05,72.018677,81.160370,100.572014,153.107819,160.081421,5.924273,296.384338,33.654991,111.095108,178.622208,...,95.567871,51.020969,32.596058,7.603014,99.563301,57.427807,44.003963,363.503967,67.065140,48.031021
2009-01-06,72.904129,81.426384,102.001717,151.212006,168.090317,6.065854,283.999786,35.016598,110.929527,180.493103,...,95.339020,50.740753,34.057350,7.647903,98.142349,59.827374,42.277237,406.405731,65.344803,47.434902
2009-01-07,64.944084,79.112083,93.900200,141.663422,170.068451,5.601290,280.973938,34.429691,106.972527,173.898270,...,95.499222,50.306198,31.810606,7.236177,97.378723,51.109936,41.003952,388.865814,61.932320,47.816040
2009-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Make the index a datetime index
prices.index = pd.to_datetime(prices.index)
prices.head()

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.BO,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.BO,BRITANNIA.BO,CIPLA.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.BO,TECHM.BO,TITAN.NS,ULTRACEMCO.BO,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-02,61.107018,80.025406,97.577797,144.637573,152.458466,5.747297,304.705414,34.138603,110.598419,179.230270,...,96.011902,51.284946,32.157673,7.107706,96.141403,55.423092,43.747471,368.860748,65.570412,47.630348
2009-01-05,72.018677,81.160370,100.572014,153.107819,160.081421,5.924273,296.384338,33.654991,111.095108,178.622208,...,95.567871,51.020969,32.596058,7.603014,99.563301,57.427807,44.003963,363.503967,67.065140,48.031021
2009-01-06,72.904129,81.426384,102.001717,151.212006,168.090317,6.065854,283.999786,35.016598,110.929527,180.493103,...,95.339020,50.740753,34.057350,7.647903,98.142349,59.827374,42.277237,406.405731,65.344803,47.434902
2009-01-07,64.944084,79.112083,93.900200,141.663422,170.068451,5.601290,280.973938,34.429691,106.972527,173.898270,...,95.499222,50.306198,31.810606,7.236177,97.378723,51.109936,41.003952,388.865814,61.932320,47.816040
2009-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3515 entries, 2009-01-02 to 2022-07-29
Data columns (total 50 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ADANIPORTS.NS  3348 non-null   float64
 1   ASIANPAINT.NS  3348 non-null   float64
 2   AXISBANK.BO    3348 non-null   float64
 3   BAJAJ-AUTO.NS  3348 non-null   float64
 4   BAJAJFINSV.NS  3348 non-null   float64
 5   BAJFINANCE.NS  3348 non-null   float64
 6   BHARTIARTL.NS  3348 non-null   float64
 7   BPCL.BO        3348 non-null   float64
 8   BRITANNIA.BO   3348 non-null   float64
 9   CIPLA.NS       3348 non-null   float64
 10  COALINDIA.NS   2894 non-null   float64
 11  DIVISLAB.BO    3348 non-null   float64
 12  EICHERMOT.BO   3348 non-null   float64
 13  GRASIM.BO      3348 non-null   float64
 14  HCLTECH.BO     3348 non-null   float64
 15  HDFC.NS        3347 non-null   float64
 16  HDFCBANK.BO    3348 non-null   float64
 17  HDFCLIFE.BO    1162 non-null   float64
 18  HEROMOTOCO.NS  3348 non-null   float64
 19  HINDALCO.BO    3348 non-null   float64
 20  HINDUNILVR.BO  3348 non-null   float64
 21  ICICIBANK.BO   3348 non-null   float64
 22  INDUSINDBK.NS  3348 non-null   float64
 23  INFY.NS        3348 non-null   float64
 24  IOC.BO         3348 non-null   float64
 25  ITC.NS         3348 non-null   float64
 26  JSWSTEEL.NS    3348 non-null   float64
 27  KOTAKBANK.BO   3348 non-null   float64
 28  LT.BO          3348 non-null   float64
 29  M&M.BO         3348 non-null   float64
 30  MARUTI.BO      3348 non-null   float64
 31  NESTLEIND.BO   3348 non-null   float64
 32  NTPC.NS        3348 non-null   float64
 33  ONGC.NS        3348 non-null   float64
 34  POWERGRID.NS   3348 non-null   float64
 35  RDY            3417 non-null   float64
 36  RELIANCE.NS    3348 non-null   float64
 37  SBILIFE.BO     1193 non-null   float64
 38  SBIN.NS        3348 non-null   float64
 39  SHREECEM.NS    3348 non-null   float64
 40  SUNPHARMA.NS   3348 non-null   float64
 41  TATACONSUM.NS  3348 non-null   float64
 42  TATAMOTORS.NS  3348 non-null   float64
 43  TATASTEEL.NS   3348 non-null   float64
 44  TCS.BO         3348 non-null   float64
 45  TECHM.BO       3348 non-null   float64
 46  TITAN.NS       3348 non-null   float64
 47  ULTRACEMCO.BO  3348 non-null   float64
 48  UPL.NS         3348 non-null   float64
 49  WIPRO.NS       3348 non-null   float64
dtypes: float64(50)
memory usage: 1.4 MB

In [10]:
mthly_ret = prices.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1)
mthly_ret.head()

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.BO,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.BO,BRITANNIA.BO,CIPLA.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.BO,TECHM.BO,TITAN.NS,ULTRACEMCO.BO,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,0.165736,-0.126039,-0.201991,0.141775,0.091456,-0.093149,-0.100653,0.077431,0.032934,0.001827,...,0.024505,-0.040386,-0.149958,-0.195993,0.035676,-0.130252,-0.038476,0.015294,-0.191828,-0.049856
2009-02-28,-0.110095,-0.002979,-0.196420,0.127014,-0.098579,-0.021222,0.007177,-0.006765,-0.047065,-0.002344,...,-0.053004,-0.042994,-0.002339,-0.063922,-0.061236,0.043898,-0.179551,0.190886,-0.058542,-0.103865
2009-03-31,-0.053710,-0.000064,0.191263,0.155874,0.087488,0.211622,-0.019969,-0.031872,0.064598,0.149086,...,0.092334,0.008105,0.207636,0.191551,0.123595,0.067002,0.037492,0.160927,0.110797,0.185060
2009-04-30,0.202443,0.134101,0.340531,0.037513,0.290742,0.295633,0.204954,0.023497,0.144071,0.094070,...,0.150209,0.185527,0.352191,0.156387,0.154075,0.236847,-0.044707,0.080388,0.169974,0.345466
2009-05-31,0.572219,0.211034,0.431234,0.611860,0.668195,0.532597,0.088727,0.206096,0.069426,-0.074559,...,-0.050571,0.000217,0.381665,0.702436,0.122833,0.443970,0.436663,0.223305,0.425838,0.155358

In [11]:
formation = dt.datetime(2009,2,28)
formation

datetime.datetime(2009, 2, 28, 0, 0)

In [12]:
# prior month return dataframe
ret_1M = mthly_ret.loc[formation - MonthEnd(1)]
ret_1M

ADANIPORTS.NS    0.165736
ASIANPAINT.NS   -0.126039
AXISBANK.BO     -0.201991
BAJAJ-AUTO.NS    0.141775
BAJAJFINSV.NS    0.091456
BAJFINANCE.NS   -0.093149
BHARTIARTL.NS   -0.100653
BPCL.BO          0.077431
BRITANNIA.BO     0.032934
CIPLA.NS         0.001827
COALINDIA.NS     0.000000
DIVISLAB.BO     -0.341912
EICHERMOT.BO    -0.083333
GRASIM.BO       -0.011762
HCLTECH.BO      -0.033159
HDFC.NS         -0.008769
HDFCBANK.BO     -0.089782
HDFCLIFE.BO      0.000000
HEROMOTOCO.NS    0.107624
HINDALCO.BO     -0.123324
HINDUNILVR.BO    0.055567
ICICIBANK.BO    -0.116511
INDUSINDBK.NS   -0.194445
INFY.NS          0.154183
IOC.BO           0.041292
ITC.NS           0.032092
JSWSTEEL.NS     -0.108718
KOTAKBANK.BO    -0.276324
LT.BO           -0.162169
M&M.BO           0.045747
MARUTI.BO        0.051565
NESTLEIND.BO    -0.015806
NTPC.NS          0.045169
ONGC.NS         -0.037263
POWERGRID.NS     0.046236
RDY             -0.113614
RELIANCE.NS      0.028918
SBILIFE.BO       0.000000
SBIN.NS         -0.135788
SHREECEM.NS      0.041122
SUNPHARMA.NS     0.024505
TATACONSUM.NS   -0.040386
TATAMOTORS.NS   -0.149958
TATASTEEL.NS    -0.195993
TCS.BO           0.035676
TECHM.BO        -0.130252
TITAN.NS        -0.038476
ULTRACEMCO.BO    0.015294
UPL.NS          -0.191828
WIPRO.NS        -0.049856
Name: 2009-01-31 00:00:00, dtype: float64

In [13]:
# Rename the series
ret_1M.name = 'mthly_ret'

In [14]:
# Convert series to DataFrame
ret_1M = pd.DataFrame(ret_1M)

In [15]:
ret_1M

               mthly_ret
ADANIPORTS.NS   0.165736
ASIANPAINT.NS  -0.126039
AXISBANK.BO    -0.201991
BAJAJ-AUTO.NS   0.141775
BAJAJFINSV.NS   0.091456
BAJFINANCE.NS  -0.093149
BHARTIARTL.NS  -0.100653
BPCL.BO         0.077431
BRITANNIA.BO    0.032934
CIPLA.NS        0.001827
COALINDIA.NS    0.000000
DIVISLAB.BO    -0.341912
EICHERMOT.BO   -0.083333
GRASIM.BO      -0.011762
HCLTECH.BO     -0.033159
HDFC.NS        -0.008769
HDFCBANK.BO    -0.089782
HDFCLIFE.BO     0.000000
HEROMOTOCO.NS   0.107624
HINDALCO.BO    -0.123324
HINDUNILVR.BO   0.055567
ICICIBANK.BO   -0.116511
INDUSINDBK.NS  -0.194445
INFY.NS         0.154183
IOC.BO          0.041292
ITC.NS          0.032092
JSWSTEEL.NS    -0.108718
KOTAKBANK.BO   -0.276324
LT.BO          -0.162169
M&M.BO          0.045747
MARUTI.BO       0.051565
NESTLEIND.BO   -0.015806
NTPC.NS         0.045169
ONGC.NS        -0.037263
POWERGRID.NS    0.046236
RDY            -0.113614
RELIANCE.NS     0.028918
SBILIFE.BO      0.000000
SBIN.NS        -0.135788
SHREECEM.NS     0.041122
SUNPHARMA.NS    0.024505
TATACONSUM.NS  -0.040386
TATAMOTORS.NS  -0.149958
TATASTEEL.NS   -0.195993
TCS.BO          0.035676
TECHM.BO       -0.130252
TITAN.NS       -0.038476
ULTRACEMCO.BO   0.015294
UPL.NS         -0.191828
WIPRO.NS       -0.049856

In [16]:
ret_1M.sort_values(by=['mthly_ret'])

               mthly_ret
DIVISLAB.BO    -0.341912
KOTAKBANK.BO   -0.276324
AXISBANK.BO    -0.201991
TATASTEEL.NS   -0.195993
INDUSINDBK.NS  -0.194445
UPL.NS         -0.191828
LT.BO          -0.162169
TATAMOTORS.NS  -0.149958
SBIN.NS        -0.135788
TECHM.BO       -0.130252
ASIANPAINT.NS  -0.126039
HINDALCO.BO    -0.123324
ICICIBANK.BO   -0.116511
RDY            -0.113614
JSWSTEEL.NS    -0.108718
BHARTIARTL.NS  -0.100653
BAJFINANCE.NS  -0.093149
HDFCBANK.BO    -0.089782
EICHERMOT.BO   -0.083333
WIPRO.NS       -0.049856
TATACONSUM.NS  -0.040386
TITAN.NS       -0.038476
ONGC.NS        -0.037263
HCLTECH.BO     -0.033159
NESTLEIND.BO   -0.015806
GRASIM.BO      -0.011762
HDFC.NS        -0.008769
SBILIFE.BO      0.000000
HDFCLIFE.BO     0.000000
COALINDIA.NS    0.000000
CIPLA.NS        0.001827
ULTRACEMCO.BO   0.015294
SUNPHARMA.NS    0.024505
RELIANCE.NS     0.028918
ITC.NS          0.032092
BRITANNIA.BO    0.032934
TCS.BO          0.035676
SHREECEM.NS     0.041122
IOC.BO          0.041292
NTPC.NS         0.045169
M&M.BO          0.045747
POWERGRID.NS    0.046236
MARUTI.BO       0.051565
HINDUNILVR.BO   0.055567
BPCL.BO         0.077431
BAJAJFINSV.NS   0.091456
HEROMOTOCO.NS   0.107624
BAJAJ-AUTO.NS   0.141775
INFY.NS         0.154183
ADANIPORTS.NS   0.165736

In [17]:
ret_1M['decile'] = pd.qcut(ret_1M.mthly_ret, 10, labels=False)
ret_1M

               mthly_ret  decile
ADANIPORTS.NS   0.165736       9
ASIANPAINT.NS  -0.126039       2
AXISBANK.BO    -0.201991       0
BAJAJ-AUTO.NS   0.141775       9
BAJAJFINSV.NS   0.091456       9
BAJFINANCE.NS  -0.093149       3
BHARTIARTL.NS  -0.100653       3
BPCL.BO         0.077431       8
BRITANNIA.BO    0.032934       7
CIPLA.NS        0.001827       6
COALINDIA.NS    0.000000       5
DIVISLAB.BO    -0.341912       0
EICHERMOT.BO   -0.083333       3
GRASIM.BO      -0.011762       5
HCLTECH.BO     -0.033159       4
HDFC.NS        -0.008769       5
HDFCBANK.BO    -0.089782       3
HDFCLIFE.BO     0.000000       5
HEROMOTOCO.NS   0.107624       9
HINDALCO.BO    -0.123324       2
HINDUNILVR.BO   0.055567       8
ICICIBANK.BO   -0.116511       2
INDUSINDBK.NS  -0.194445       0
INFY.NS         0.154183       9
IOC.BO          0.041292       7
ITC.NS          0.032092       6
JSWSTEEL.NS    -0.108718       2
KOTAKBANK.BO   -0.276324       0
LT.BO          -0.162169       1
M&M.BO          0.045747       8
MARUTI.BO       0.051565       8
NESTLEIND.BO   -0.015806       4
NTPC.NS         0.045169       7
ONGC.NS        -0.037263       4
POWERGRID.NS    0.046236       8
RDY            -0.113614       2
RELIANCE.NS     0.028918       6
SBILIFE.BO      0.000000       5
SBIN.NS        -0.135788       1
SHREECEM.NS     0.041122       7
SUNPHARMA.NS    0.024505       6
TATACONSUM.NS  -0.040386       4
TATAMOTORS.NS  -0.149958       1
TATASTEEL.NS   -0.195993       0
TCS.BO          0.035676       7
TECHM.BO       -0.130252       1
TITAN.NS       -0.038476       4
ULTRACEMCO.BO   0.015294       6
UPL.NS         -0.191828       1
WIPRO.NS       -0.049856       3

In [18]:
# Screen for all stocks in the lowest performing decile
losers = ret_1M[ret_1M.decile == 0].index
losers

Index(['AXISBANK.BO', 'DIVISLAB.BO', 'INDUSINDBK.NS', 'KOTAKBANK.BO',
       'TATASTEEL.NS'],
      dtype='object')

In [19]:
# Get the EW returns on the formation date
loser_returns = mthly_ret.loc[formation, mthly_ret.columns.isin(losers)].mean()

In [20]:
# Worst performing returns ever for this strategy
loser_returns*100

-9.160944560416464

In [21]:
# Pick another formation date
formation2 = dt.datetime(2009,3,31)
formation2

datetime.datetime(2009, 3, 31, 0, 0)

In [22]:
ret_1M = mthly_ret.loc[formation2 - MonthEnd(1)]
# Rename the series
ret_1M.name = 'mthly_ret'
# Convert series to DataFrame
ret_1M = pd.DataFrame(ret_1M)
# Create Deciles
ret_1M['decile'] = pd.qcut(ret_1M.mthly_ret, 10, labels=False)
# Screen for all stocks in the lowest performing decile
losers = ret_1M[ret_1M.decile == 0].index
print(losers)
# Get the EW returns on the new formation date
loser_returns = mthly_ret.loc[formation2, mthly_ret.columns.isin(losers)].mean()
print(loser_returns*100)

Index(['AXISBANK.BO', 'HDFC.NS', 'HINDALCO.BO', 'ICICIBANK.BO', 'TITAN.NS'], dtype='object')
13.901457869056783

##Backtest over 12 Years

In [23]:
def reversal(formation_date):
    ret_1 = mthly_ret.loc[formation_date - MonthEnd(1)]
    ret_1.name = 'mth_ret'
    ret_1 = pd.DataFrame(ret_1)
    ret_1['decile'] = pd.qcut(ret_1.mth_ret, 10, labels=False, duplicates='drop')
    losers = ret_1[ret_1.decile == 0].index
    loser_ret = mthly_ret.loc[formation_date, mthly_ret.columns.isin(losers)].mean()
    return loser_ret*100

In [24]:
formation2

datetime.datetime(2009, 3, 31, 0, 0)

In [25]:
reversal(formation2)

13.901457869056783

In [26]:
# We can only start at date = 2009-02-28 since it contains prior month returns
pd.DataFrame(mthly_ret.iloc[:3])

,ADANIPORTS.NS,ASIANPAINT.NS,AXISBANK.BO,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BPCL.BO,BRITANNIA.BO,CIPLA.NS,...,SUNPHARMA.NS,TATACONSUM.NS,TATAMOTORS.NS,TATASTEEL.NS,TCS.BO,TECHM.BO,TITAN.NS,ULTRACEMCO.BO,UPL.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2009-01-31,0.165736,-0.126039,-0.201991,0.141775,0.091456,-0.093149,-0.100653,0.077431,0.032934,0.001827,...,0.024505,-0.040386,-0.149958,-0.195993,0.035676,-0.130252,-0.038476,0.015294,-0.191828,-0.049856
2009-02-28,-0.110095,-0.002979,-0.196420,0.127014,-0.098579,-0.021222,0.007177,-0.006765,-0.047065,-0.002344,...,-0.053004,-0.042994,-0.002339,-0.063922,-0.061236,0.043898,-0.179551,0.190886,-0.058542,-0.103865
2009-03-31,-0.053710,-0.000064,0.191263,0.155874,0.087488,0.211622,-0.019969,-0.031872,0.064598,0.149086,...,0.092334,0.008105,0.207636,0.191551,0.123595,0.067002,0.037492,0.160927,0.110797,0.185060

In [27]:
# Starting from the formation date, loop through the rest of the dates in the monthly return dataframe

returns = []
dates = []

for i in mthly_ret.index[2:]:
    returns.append(reversal(i))
    dates.append(i)

In [28]:
frame = pd.DataFrame({'dates':dates, 'returns':returns})
frame

         dates    returns
0   2009-03-31  13.901458
1   2009-04-30   8.242824
2   2009-05-31  28.567985
3   2009-06-30   3.544445
4   2009-07-31  14.447331
..         ...        ...
156 2022-03-31   4.502904
157 2022-04-30   6.015258
158 2022-05-31  -8.192495
159 2022-06-30  13.360243
160 2022-07-31  16.744336

[161 rows x 2 columns]

In [29]:
# Average Strategy Performance from 2009 to present
frame.returns.mean()

2.452884538684367

In [30]:
# How did the benchmark perform? S&P 100
df2 = yf.download('^NSEI', start='2009-01-01')['Adj Close']
df2

[*********************100%***********************]  1 of 1 completed

Date
2009-01-02     3046.750000
2009-01-05     3121.449951
2009-01-06     3112.800049
2009-01-07     2920.399902
2009-01-09     2873.000000
                  ...
2022-07-25    16631.000000
2022-07-26    16483.849609
2022-07-27    16641.800781
2022-07-28    16929.599609
2022-07-29    17158.250000
Name: Adj Close, Length: 3326, dtype: float64

In [31]:
# Transform prices into monthly returns
bench_ret = df2.pct_change().resample('M').agg(lambda x: (x+1).prod() - 1)
bench_ret

Date
2009-01-31   -0.056437
2009-02-28   -0.038664
2009-03-31    0.093102
2009-04-30    0.149953
2009-05-31    0.280660
                ...
2022-03-31    0.039946
2022-04-30   -0.020739
2022-05-31   -0.030288
2022-06-30   -0.048497
2022-07-31    0.087324
Freq: M, Name: Adj Close, Length: 163, dtype: float64

In [32]:
frame['bench'] = bench_ret[2:].values
frame

         dates    returns     bench
0   2009-03-31  13.901458  0.093102
1   2009-04-30   8.242824  0.149953
2   2009-05-31  28.567985  0.280660
3   2009-06-30   3.544445 -0.035480
4   2009-07-31  14.447331  0.080481
..         ...        ...       ...
156 2022-03-31   4.502904  0.039946
157 2022-04-30   6.015258 -0.020739
158 2022-05-31  -8.192495 -0.030288
159 2022-06-30  13.360243 -0.048497
160 2022-07-31  16.744336  0.087324

[161 rows x 3 columns]

In [33]:
frame[frame.returns > frame['bench']].shape

(105, 3)

In [34]:
len(frame[frame.returns > frame['bench']])/len(frame)*100

65.21739130434783

In [35]:
frame.returns.mean()

2.452884538684367

In [36]:
frame.bench.mean()

0.01294046511862527